.img {
    margin: 0pc 672px 100px 672px;

    &__image {
        height: 16px;
        width: 96px;


    }

}

.images {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 100px;
    margin-left: -50px;



}

.imagess {

    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 100px;
    right: 160px;
}